* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://i.pinimg.com/originals/6d/cd/6f/6dcd6fe4a2ac5420a4b732eaffd21b7b.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
}